html {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 500px;
    margin: 0 auto;
}

fieldset {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

legend {
    font-size: 1.3em;
    font-weight: bold;
}

.grupo {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.grupo label {
    width: 45%;
}

.grupo input {
    width: 55%;
    padding: 6px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.nuevo-proveedor {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
}

label {
    display: inline-block;
    width: 220px;
    vertical-align: middle;
    margin-bottom: 6px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 6px;
}

label:has(+ input[required])::after {
    content: " *";
    color: red;
    font-weight: bold;
}

